<template>
  <div>
    <el-dialog v-bind="$attrs" v-on="$listeners" @open="onOpen" @close="onClose" title="Penerima Barang">
      <el-form ref="elForm" :model="formData" :rules="rules" size="small" label-width="100px"
        label-position="left">
        <el-form-item label="NIK Penerima Barang" prop="nik">
          <el-input v-model="formData.nik" placeholder="NIK Penerima Barang" clearable
            :style="{width: '100%'}"></el-input>
        </el-form-item>
        <el-form-item label="Nama Penerima Barang" prop="name">
          <el-input v-model="formData.name" placeholder="Nama Penerima Barang" clearable
            :style="{width: '100%'}"></el-input>
        </el-form-item>
        <el-form-item label="Departemen" prop="departemen">
          <el-select v-model="formData.departemen" placeholder="Departemen" clearable
            :style="{width: '100%'}">
            <el-option v-for="(item, index) in departemenOptions" :key="index" :label="item.label"
              :value="item.value" :disabled="item.disabled"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Status Pengguna" prop="is_active" required>
          <el-switch v-model="formData.is_active"></el-switch>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="close">取消</el-button>
        <el-button type="primary" @click="handelConfirm">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  components: {},
  props: [],
  data() {
    return {
      formData: {
        nik: undefined,
        name: undefined,
        departemen: undefined,
        is_active: false,
      },
      rules: {
        nik: [{
          required: true,
          message: 'NIK Penerima Barang',
          trigger: 'blur'
        }],
        name: [{
          required: true,
          message: 'Nama Penerima Barang',
          trigger: 'blur'
        }],
        departemen: [{
          required: true,
          message: 'Departemen',
          trigger: 'change'
        }],
      },
      departemenOptions: [{
        "label": "Pemotongan Bahan",
        "value": "Pemotongan Bahan"
      }, {
        "label": "Marketing",
        "value": "Marketing"
      }, {
        "label": "Produksi",
        "value": "Produksi"
      }, {
        "label": "Keuangan",
        "value": "Keuangan"
      }],
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    onOpen() {},
    onClose() {
      this.$refs['elForm'].resetFields()
    },
    close() {
      this.$emit('update:visible', false)
    },
    handelConfirm() {
      this.$refs['elForm'].validate(valid => {
        if (!valid) return
        this.close()
      })
    },
  }
}

</script>
<style>
</style>
