<template>
  <div>
    <el-form ref="elForm" :model="formData" :rules="rules" size="small" label-width="100px"
      label-position="left">
      <el-form-item label="NIK Penerima Barang" prop="nik">
        <el-input v-model="formData.nik" placeholder="NIK Penerima Barang" clearable :style="{width: '100%'}">
        </el-input>
      </el-form-item>
      <el-form-item label="Nama Penerima Barang" prop="name">
        <el-input v-model="formData.name" placeholder="Nama Penerima Barang" clearable
          :style="{width: '100%'}"></el-input>
      </el-form-item>
      <el-form-item label="Departemen" prop="departemen">
        <el-select v-model="formData.departemen" placeholder="Departemen" clearable :style="{width: '100%'}">
          <el-option v-for="(item, index) in departemenOptions" :key="index" :label="item.label"
            :value="item.value" :disabled="item.disabled"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Status Pengguna" prop="is_active" required>
        <el-switch v-model="formData.is_active"></el-switch>
      </el-form-item>
      <el-form-item size="large">
        <el-button type="primary" @click="submitForm">提交</el-button>
        <el-button @click="resetForm">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  components: {},
  props: [],
  data() {
    return {
      formData: {
        nik: undefined,
        name: undefined,
        departemen: undefined,
        is_active: false,
      },
      rules: {
        nik: [{
          required: true,
          message: 'NIK Penerima Barang',
          trigger: 'blur'
        }],
        name: [{
          required: true,
          message: 'Nama Penerima Barang',
          trigger: 'blur'
        }],
        departemen: [{
          required: true,
          message: 'Departemen',
          trigger: 'change'
        }],
      },
      departemenOptions: [{
        "label": "Pemotongan Bahan",
        "value": "Pemotongan Bahan"
      }, {
        "label": "Marketing",
        "value": "Marketing"
      }, {
        "label": "Produksi",
        "value": "Produksi"
      }, {
        "label": "Keuangan",
        "value": "Keuangan"
      }],
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    submitForm() {
      this.$refs['elForm'].validate(valid => {
        if (!valid) return
        // TODO 提交表单
      })
    },
    resetForm() {
      this.$refs['elForm'].resetFields()
    },
  }
}

</script>
<style>
</style>
