<template>
  <WidgetWrapper v-loading="fullscreenLoading" :title="title">
    <vue-good-table
      theme="black-rhino"
      :columns="headers"
      :rows="items"
      :line-numbers="true"
      :pagination-options="{
        enabled: true,
        mode: 'pages'
      }"
      :search-options="{
        enabled: true,
        trigger: 'enter'
      }"
    >
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field == 'actions'">
          <el-button type="success" plain size="small" @click="edit(props.row)">Edit</el-button>
          <el-button type="danger" plain size="small" @click="remove(props.row)">Delete</el-button>
        </span>
        <span v-else>
          {{props.formattedRow[props.column.field]}}
        </span>
      </template>
    </vue-good-table>
  </WidgetWrapper>
</template>

<script>
import formService from '~/mixins/FormService'
import WidgetWrapper from '~/components/layout/WidgetWrapper.vue'
import formHelper from './form-helper'
import { VueGoodTable } from 'vue-good-table';

let service

export default {
  middleware: 'auth',
  metaInfo () {
    return { title: 'Penerima Barang' }
  },
  components: {
    WidgetWrapper,
    VueGoodTable
  },
  data () {
    return {
      title: 'Penerima Barang',
      apiRemove: this.$appInfo.api.penerimaBarang.delete,
      fullscreenLoading: true,
      headers: [
        {
          label: 'NIK',
          field: 'nik',
          align: 'left',
          allowFilter: true,
          width: 550
        },
        {
          label: 'Nama',
          field: 'name',
          align: 'left',
          allowFilter: true,
          width: 550
        },
        {
          label: 'Departemen',
          field: 'department',
          align: 'left',
          allowFilter: true,
          width: 550
        },
        {
          label: 'Description',
          field: 'department',
          align: 'left',
          allowFilter: true,
          width: 550
        },
        {
          label: 'Action',
          field: 'actions',
          width: 100,
          cellTemplate: 'commonAction'
        }
      ],
      items: [],
      RecordsOnDuty: 0,
      options: {
        allowToAdd: true,
        allowToRefetch: true
      }
    }
  },
  async mounted () {
    await this.fetchData()
    service = new formService(this, formHelper)
  },
  methods: {
    edit (data) {
      const id = data.id
      this.$router.push({
        name: 'dokumen-edit',
        params: { id: id }
      })
    },
    async remove (data) {
      this.$confirm(
        'This will permanently delete this record. Continue?',
        'Are you sure',
        {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(async () => {
          try {
            this.fullscreenLoading = true
            const id = data.id
            await service.remove(id)

            await this.fetchData()

            this.$message({
              type: 'success',
              message: 'Delete completed'
            })
            this.fullscreenLoading = false
          } catch (e) {
            this.$message.error(e)
            this.fullscreenLoading = false
            console.log(e)
            this.fullscreenLoading = false
          }
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    },

    async fetchData () {
      try {
        this.fullscreenLoading = true
        const res = await this.$axios.get(this.$appInfo.api.penerimaBarang.all)
        this.items = res.data.data
        this.fullscreenLoading = false
      } catch (e) {
        this.fullscreenLoading = false
        console.log(e)
      }
    }
  }
}
</script>
