<template>
  <div>
    <el-dialog
      :visible.sync="dialogVisible"
      title="Form Permintaan Barang"
      width="95%"
      :lock-scroll="true"
      :show-close="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :draggable="true"
      :close="closeDialog"
      class="mt-14"
    >
      <h5>Detail Permintaan</h5>
      <el-form ref="elForm" v-loading="loading" :model="formData" :rules="rules" size="small" label-width="150px"
               label-position="left"
      >
        <el-row type="flex" justify="space-between" align="middle" style="gap: 2rem;">
          <el-form-item label="NIK" prop="penerima_barang_id" :style="{width: '50%'}">
            <el-select
              v-model="formData.penerima_barang_id"
              placeholder="NIK Penerima Barang"
              clearable
              filterable
              :style="{width: '100%'}"
              @change="selectCurrentPenerimaBarang()"
            >
              <el-option
                v-for="(item, index) in penerimaBarangList"
                :key="index"
                :label="item.nik"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Tanggal Permintaan" prop="request_date" :style="{width: '50%'}">
            <el-date-picker v-model="formData.request_date" format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                            :style="{width: '100%'}" placeholder="Tanggal Permintaan" clearable
            />
          </el-form-item>
        </el-row>
        <el-row type="flex" justify="space-between" align="middle" style="gap: 2rem;">
          <el-form-item label="Penerima Barang" prop="name" :style="{width: '50%'}">
            <el-input v-model="formData.penerima_barang.name" placeholder="Nama Penerima Barang" clearable
                      :style="{width: '100%'}" disabled
            />
          </el-form-item>
          <el-form-item label="Departemen" prop="department" :style="{width: '50%'}">
            <el-input v-model="formData.penerima_barang.department" placeholder="Departemen" clearable
                      :style="{width: '100%'}" disabled
            />
          </el-form-item>
        </el-row>
      </el-form>

      <h5>Daftar Barang</h5>

      <div style="width: 100%; text-align:right; padding: 10px;">
        <el-button plain size="small" @click="addRows()">
          + Tambah Barang
        </el-button>
      </div>
      <vue-good-table
        v-loading="loading"
        theme="black-rhino"
        :columns="headers"
        :rows="formData.permintaan_barang_items"
        :line-numbers="true"
      >
        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field === 'actions'">
            <el-button type="danger" circle size="small" @click="removeRows(props.index)">Delete</el-button>
          </span>
          <span v-if="props.column.label === 'Barang'">
            <el-select
              v-model="formData.permintaan_barang_items[props.index][props.column.field]"
              placeholder="Pilih Barang"
              clearable
              :style="{width: '100%'}"
              @change="selectCurrentBarang(props)"
            >
              <el-option
                v-for="(item, index) in barangList"
                :key="index"
                :label="item.name"
                :value="item.name"
              />
            </el-select>
          </span>
          <span v-else-if="(
            props.column.label === 'Lokasi'
            || props.column.label === 'Satuan'
            || props.column.label === 'Keterangan'
          )"
          >
            <el-input
              v-model="formData.permintaan_barang_items[props.index][props.column.field]"
              clearable
              filterable
              :placeholder="props.column.label"
              :style="{width: '100%'}"
              :disabled="(
                props.column.label === 'Lokasi'
                || props.column.label === 'Satuan'
              )"
            />
          </span>
          <span v-else-if="(
            props.column.label === 'Tersedia'
            || props.column.label === 'Kuantiti'
          )"
          >
            <el-input-number
              v-model="formData.permintaan_barang_items[props.index][props.column.field]"
              clearable
              filterable
              :max="formData.permintaan_barang_items[props.index]['stock']"
              :placeholder="props.column.label"
              :style="{width: '100%'}"
              :disabled="(props.column.label === 'Tersedia')"
            />
          </span>
          <span v-else-if="props.column.label === 'Status'">
            <div v-if="props.row.stock_requested > 0">
              <el-alert v-if="props.row.stock_requested == props.row.stock " title="Terpenuhi" type="success" :closable="false" />
              <el-alert v-else-if="props.row.stock_requested < props.row.stock " title="sebagian" type="warning" :closable="false" />
              <el-alert v-else title="kosong" type="error" :closable="false" />
            </div>
          </span>
          <span v-else>
            {{ props.formattedRow[props.column.field] }}
          </span>
        </template>
      </vue-good-table>

      <div slot="footer">
        <el-button @click="closeDialog">
          Close
        </el-button>
        <el-button type="primary" @click="submit" @disabled="formData.permintaan_barang_items.length === 0">
          Save
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { VueGoodTable } from 'vue-good-table'

export default {
  components: {
    VueGoodTable
  },
  inheritAttrs: false,
  props: {
    dialogVisible: {
      type: Boolean,
      default: false
    },
    selectedId: {
      type: [String, Number]
    }
  },
  data () {
    return {
      loading: false,
      formData: {
        id: undefined,
        penerima_barang_id: undefined,
        total_barang: undefined,
        request_date: null,
        is_approved: undefined,
        permintaan_barang_items: [],
        penerima_barang: {
          nik: undefined,
          name: undefined,
          department: undefined
        }
      },
      rules: {
        penerima_barang_id: [{
          required: true,
          message: 'NIK Penerima Barang wajib diisi',
          trigger: 'blur'
        }],
        request_date: [{
          required: true,
          message: 'Tanggal Permintaan wajib diisi',
          trigger: 'change'
        }],
        permintaan_barang_items: [{
          required: true,
          message: 'Daftar Barang wajib diisi',
          trigger: 'change'
        }],
        'permintaan_barang_items.name': [{ required: true, trigger: 'change' }],
        'permintaan_barang_items.stock_requested': [{ required: true, trigger: 'change' }]
      },
      barangList: [],
      penerimaBarangList: [],
      departemenOptions: [{
        label: 'Pemotongan Bahan',
        value: 'Pemotongan Bahan'
      }, {
        label: 'Marketing',
        value: 'Marketing'
      }, {
        label: 'Produksi',
        value: 'Produksi'
      }, {
        label: 'Keuangan',
        value: 'Keuangan'
      }],
      loading: false,
      headers: [
        {
          label: 'Barang',
          field: 'name'
        },
        {
          label: 'Lokasi',
          field: 'location'
        },
        {
          label: 'Tersedia',
          field: 'stock',
          width: 'auto'
        },
        {
          label: 'Kuantiti',
          field: 'stock_requested'
        },
        {
          label: 'Satuan',
          field: 'unit'
        },
        {
          label: 'Keterangan',
          field: 'notes'
        },
        {
          label: 'Status',
          field: 'status'
        },
        {
          label: '#',
          field: 'actions',
          width: 100,
          cellTemplate: 'commonAction'
        }
      ]
    }
  },
  methods: {
    closeDialog (val = false) {
      this.formData = {
        id: undefined,
        penerima_barang_id: undefined,
        total_barang: undefined,
        request_date: null,
        is_approved: undefined,
        permintaan_barang_items: [],
        penerima_barang: {
        nik: undefined,
          name: undefined,
          department: undefined
        }
      }
      this.$refs.elForm.resetFields()
      this.$emit('closeDialog', val)
    },
    submit () {
      this.loading = true
      try {
        // custom validation
        if (this.formData.permintaan_barang_items.some(x => x.name === '')) {
          throw 'Daftar Barang wajib diisi'
        }
        if (this.formData.permintaan_barang_items.some(x => x.stock_requested === '' || x.stock_requested === 0)) {
          throw 'Stock wajib diisi'
        }

        this.$refs.elForm.validate(async (valid) => {
          try {
            if (valid) {
              if (this.selectedId) {
                await this.$axios.put(
                  this.$appInfo.api.permintaanBarang.put + `/${this.selectedId}`,
                  this.formData
                )
              } else {
                await this.$axios.post(
                  this.$appInfo.api.permintaanBarang.post,
                  this.formData
                )
              }

              this.$message.success('Penerimaan Barang Saved')
              this.closeDialog(true)

              this.loading = false
            } else {
              this.loading = false
              throw 'Please fill in required data'
            }
          } catch (e) {
            this.loading = false
            this.$notify.error({
              message: e
            })
          }
        })
      } catch (e) {
        this.loading = false
        this.$notify.error({
          message: e
        })
      }
    },
    addRows () {
      this.formData.permintaan_barang_items.push({
        barang_id: '',
        name: '',
        location: '',
        stock: 0,
        stock_requested: 0,
        unit: '',
        notes: '',
        status: ''
      })
    },
    removeRows (index) {
      this.formData.permintaan_barang_items.splice(index, 1)
    },
    selectCurrentPenerimaBarang () {
      const penerimaBarang = this.penerimaBarangList.find(x => x.id === this.formData.penerima_barang_id)
      this.formData.penerima_barang.name = penerimaBarang.name
      this.formData.penerima_barang.department = penerimaBarang.department
    },
    selectCurrentBarang (props) {
      const data = this.formData.permintaan_barang_items[props.index]
      if (data.name) {
        const barang = this.barangList.find(x => x.name === data.name)
        data.barang_id = barang.id
        data.location = barang.location
        data.stock = barang.stock
        data.unit = barang.unit
      } else {
        data.barang_id = ''
        data.location = ''
        data.stock = 0
        data.unit = ''
      }
    },

    async getById () {
      try {
        // skip get by id
        if (!this.selectedId) return

        this.loading = true

        const { data: res } = await this.$axios.get(this.$appInfo.api.permintaanBarang.getById + `/${this.selectedId}`)

        this.formData = res.data
        this.formData.permintaan_barang_items = this.formData.permintaan_barang_items.map(function (item) {
          item.barang_id = item.pivot.barang_id
          item.stock_requested = item.pivot.stock
          item.notes = item.pivot.notes
          return item
        })

        this.loading = false
      } catch (e) {
        this.loading = false
        console.log(e)
      }
    },
    async fetchBarang () {
      try {
        this.loading = true
        const res = await this.$axios.get(this.$appInfo.api.barang.all)
        this.barangList = res.data.data
        this.loading = false
      } catch (e) {
        this.loading = false
        console.log(e)
      }
    },
    async fetchPenerimaBarang () {
      try {
        this.loading = true
        const res = await this.$axios.get(this.$appInfo.api.penerimaBarang.all)
        this.penerimaBarangList = res.data.data
        this.loading = false
      } catch (e) {
        this.loading = false
        console.log(e)
      }
    }
  },
  watch: {
    dialogVisible: {
      deep: true,
      async handler(val) {
        if (val) {
          await this.fetchPenerimaBarang()
          await this.fetchBarang()
          await this.getById()
        }
      },
    },
  },
}

</script>
<style>
</style>
