<template>
  <WidgetWrapper v-loading="fullscreenLoading" :title="title">

    <div style="width: 100%; text-align:right; padding: 10px;">
      <el-button plain size="small" @click="formInputDialog = true">+ Add</el-button>
    </div>

    <vue-good-table
      theme="black-rhino"
      :columns="headers"
      :rows="items"
      :line-numbers="true"
      :pagination-options="{
        enabled: true,
        mode: 'pages'
      }"
      :search-options="{
        enabled: true,
        trigger: 'enter'
      }"
    >
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field == 'actions'">
          <el-button type="success" plain size="small" @click="openFormInputDialog(true, props.row.id)">Edit</el-button>
          <el-button type="danger" plain size="small" @click="remove(props.row)">Delete</el-button>
        </span>
        <span v-else>
          {{ props.formattedRow[props.column.field] }}
        </span>
      </template>
    </vue-good-table>
    <formInput
      :selectedId="selectedId"
      :dialogVisible="formInputDialog"
      @closeDialog="(val) => this.openFormInputDialog(false, '', val)"
    />
  </WidgetWrapper>
</template>

<script>
import formService from '~/mixins/FormService'
import WidgetWrapper from '~/components/layout/WidgetWrapper.vue'
import formHelper from './form-helper'
import formInput from './form'
import { VueGoodTable } from 'vue-good-table'

let service

export default {
  components: {
    WidgetWrapper,
    VueGoodTable,
    formInput
  },
  middleware: 'auth',
  metaInfo () {
    return { title: 'Permintaan Barang' }
  },
  data () {
    return {
      title: 'Permintaan Barang',
      apiRemove: this.$appInfo.api.permintaanBarang.delete,
      fullscreenLoading: true,
      headers: [
        {
          label: 'NIK Penerima Barang',
          field: 'penerima_barang.nik',
          align: 'left',
          allowFilter: true,
          width: 550
        },
        {
          label: 'Penerima Barang',
          field: 'penerima_barang.name',
          align: 'left',
          allowFilter: true,
          width: 550
        },
        {
          label: 'Total Barang',
          field: 'total_barang',
          align: 'left',
          width: 'auto'
        },
        {
          label: 'Action',
          field: 'actions',
          width: 100,
          cellTemplate: 'commonAction'
        }
      ],
      items: [],
      formInputDialog: false,
      selectedId: '',
      options: {
        allowToAdd: true,
        allowToRefetch: true
      }
    }
  },
  async mounted () {
    await this.fetchData()
    service = new formService(this, formHelper)
  },
  methods: {
    async openFormInputDialog (val = true, selectedId = '', reload = false) {
      this.formInputDialog = val
      this.selectedId = selectedId
      if (!this.formInputDialog) {
        if (reload == true) {
          await this.fetchData()
        }

        this.selectedId = ''
      }
    },
    async remove (data) {
      this.$confirm(
        'This will permanently delete this record. Continue?',
        'Are you sure',
        {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(async () => {
          try {
            this.fullscreenLoading = true
            const id = data.id
            await service.remove(id)

            await this.fetchData()

            this.$message({
              type: 'success',
              message: 'Delete completed'
            })
            this.fullscreenLoading = false
          } catch (e) {
            this.$message.error(e)
            this.fullscreenLoading = false
            console.log(e)
            this.fullscreenLoading = false
          }
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
        })
    },
    async fetchData () {
      try {
        this.fullscreenLoading = true
        const res = await this.$axios.get(this.$appInfo.api.permintaanBarang.all)
        this.items = res.data.data
        this.fullscreenLoading = false
      } catch (e) {
        this.fullscreenLoading = false
        console.log(e)
      }
    }
  }
}
</script>

<style>
table.vgt-table,
table.vgt-table > tbody > tr > th,
table.vgt-table > thead > tr > th,
table.vgt-table > tfoot > tr > th,
.vgt-wrap__footer,
.vgt-wrap__footer .footer__navigation,
.vgt-wrap__footer .footer__row-count__label,
.vgt-wrap__footer .footer__row-count__select,
.vgt-wrap__footer .footer__navigation__page-btn span {
  font-size: 14px !important;
}

.el-dialog__body {
  word-break: normal !important;
}
</style>
