<template>
  <div>
    <el-form ref="elForm" :model="formData" :rules="rules" size="small" label-width="100px"
      label-position="left">
      <el-form-item label="Nama Barang" prop="name">
        <el-input v-model="formData.name" placeholder="Nama Barang" clearable :style="{width: '100%'}">
        </el-input>
      </el-form-item>
      <el-row type="flex" justify="start" align="top">
        <el-form-item label="Lokasi" prop="location">
          <el-select v-model="formData.location" placeholder="Lokasi" clearable :style="{width: '100%'}">
            <el-option v-for="(item, index) in locationOptions" :key="index" :label="item.label"
              :value="item.value" :disabled="item.disabled"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Kuantitas" prop="stock">
          <el-input-number v-model="formData.stock" placeholder="Kuantitas" :step='1'></el-input-number>
        </el-form-item>
      </el-row>
      <el-form-item label="Aktif" prop="is_active" required>
        <el-switch v-model="formData.is_active"></el-switch>
      </el-form-item>
      <el-form-item label="Deskripsi Produk" prop="decription">
        <el-input v-model="formData.decription" type="textarea" placeholder="Deskripsi Produk"
          :autosize="{minRows: 4, maxRows: 4}" :style="{width: '100%'}"></el-input>
      </el-form-item>
      <el-form-item size="large">
        <el-button type="primary" @click="submitForm">提交</el-button>
        <el-button @click="resetForm">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  components: {},
  props: [],
  data() {
    return {
      formData: {
        name: undefined,
        location: undefined,
        stock: undefined,
        is_active: false,
        decription: undefined,
      },
      rules: {
        name: [{
          required: true,
          message: 'Nama Barang',
          trigger: 'blur'
        }],
        location: [{
          required: true,
          message: 'Lokasi',
          trigger: 'change'
        }],
        stock: [{
          required: true,
          message: 'Kuantitas',
          trigger: 'blur'
        }],
        decription: [{
          required: true,
          message: 'Deskripsi Produk',
          trigger: 'blur'
        }],
      },
      locationOptions: [{
        "label": "L1-R1A",
        "value": "L1-R1A"
      }, {
        "label": "L1-R1B",
        "value": "L1-R1B"
      }, {
        "label": "L2-R1A",
        "value": "L2-R1A"
      }, {
        "label": "L2-R1B",
        "value": "L2-R1B"
      }],
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    submitForm() {
      this.$refs['elForm'].validate(valid => {
        if (!valid) return
        // TODO 提交表单
      })
    },
    resetForm() {
      this.$refs['elForm'].resetFields()
    },
  }
}

</script>
<style>
</style>
